---
---

// add bootstrap variable settings here
@import 'style';
@import 'bootstrap';


// add more css stuff here

body {
  padding-top: 50px;
}

.content {
  padding: 40px 15px;
}

.ais-search-box {
  max-width: 100%;
  margin-bottom: 15px;
}
.al-post-item {
  
}
.al-post-link .ais-Highlight {
  color: #111;
  font-style: normal;
  text-decoration: underline;
}

.al-post-link {
    font-size: 1.2rem;
}


.ais-Hits-item {
    padding:0.5rem;
    background:#fafafa;
}
