---
layout: emptyPage
title: LinkedIn
permalink: /linkedin
---


{% assign 12favs_string = "12_fav_problems/continuous_learning,12_fav_problems/help_others_grow,12_fav_problems/test,others" %}
{% assign 12favs = 12favs_string | split: "," %}


<div class="row">
{% for item in 12favs %}
    <div class="col-6 col-md-4">
    {% assign headline_title = "Others" %}    
    {% if item == "12_fav_problems/continuous_learning" %}
        {% assign headline_title = "Livelong Learning" %}    
    {% elsif item == "12_fav_problems/help_others_grow" %}
        {% assign headline_title = "Helping others to grow" %}    
    {% elsif item == "12_fav_problems/test" %}
        {% assign headline_title = "Test" %}        
    {% endif %}    
    
    <h1 class"fav_problem">{{ headline_title }}</h1>
    
    
    {% assign lipages = site.notes | where: "tags", "linkedin/processed" %}    
    {% for page in  lipages %}
     {% assign rating = "" %}  
     {% assign others = "true" %}  
     {% for tag in  page.tags %}
        {% if tag == "rating/⭐️⭐️" %}
            {% assign rating = "⭐️⭐️" %}
        {% elsif tag == "rating/⭐️" %}
            {% assign rating = "⭐️" %}    
        {% elsif tag == "rating/⭐️⭐️⭐️" %}
            {% assign rating = "⭐️⭐️⭐️" %}                
       {% endif %}  
       
        
       {% if 12favs_string contains tag %}
        {% assign others = "false" %}  
       {% endif %}      
        
     {% endfor %}
     
     
      {% if page.tags contains item or item == "others" and others=="true" %}
        <a href="{{ page.url }}">{{ page.title | truncate:40 }} {{ rating }}</a><br> 
      {% endif %}
     
      
      
    {% endfor %}
    </div>
{% endfor %}   
    
    
    
</div>

              
