---
layout: default
---

<article>
        
  <div style="font-size: 0.8em">
    {% for tag in  page.tags %}
        {% if tag == 'epstatus/0-🌰' %}
            <a href="../maturity-model-for-my-obsidian-notes#nut-" class="epstatus">🌰 (nut) | </a> 
        {% endif %}  
        {% if tag == 'epstatus/1-🌱' %}
            <a href="../maturity-model-for-my-obsidian-notes#seedling-" class="epstatus">🌱 (seedling) | </a> 
        {% endif %}  
        {% if tag == 'epstatus/2-🪴' %}
            <a href="../maturity-model-for-my-obsidian-notes#potted-plant-" class="epstatus">🪴 (plotted plant) | </a> 
        {% endif %}  
        {% if tag == 'epstatus/3-🌳' %}
            <a href="../maturity-model-for-my-obsidian-notes#tree-" class="epstatus">🌳 (tree) | </a> 
        {% endif %}
        {% if tag == 'epstatus/4-🍁' %}
            <a href="../maturity-model-for-my-obsidian-notes#ancient-tree-" class="epstatus">🍁 (ancient tree) | </a> 
        {% endif %}  
        {% if tag == 'epstatus/5-🍂' %}
            <a href="../maturity-model-for-my-obsidian-notes#fallen-leaf-" class="epstatus">🍂 (fallen leaf) | </a> 
        {% endif %}  
    {% endfor %}
      
      {% for tag in  page.tags %}
        {% if tag == 'type/fleeting-note' %}
            <a href="../about-my-usage-of-fleeting-notes-permanent-notes-and-literature-notes#fleeting-notes" class="note_type">Fleeting note | </a> 
        {% endif %}  
        {% if tag == 'type/index-note' %}
            <a href="../about-my-usage-of-fleeting-notes-permanent-notes-and-literature-notes#index-notes" class="note_type">Index note | </a> 
        {% endif %}  
        {% if tag == 'type/literature-note' %}
            <a href="../about-my-usage-of-fleeting-notes-permanent-notes-and-literature-notes#literature-notes" class="note_type">Literature note | </a> 
        {% endif %}  
        {% if tag == 'type/permanent-note' %}
            <a href="../about-my-usage-of-fleeting-notes-permanent-notes-and-literature-notes#permanent-notes" class="note_type">Permanent note | </a> 
        {% endif %}
    {% endfor %}
      
      <time datetime="{{ page.last_modified_at | date_to_xmlschema }}">{% if page.type != 'pages' %}
      ✷ {{ page.date_created }} ↺ {{ page.date_modified }}
      {% endif %}
    </time>
  </div>
<div>
    
    
</div>    
    
    
<div class="container">
  <div class="row">
    <div class="col-sm-8">
        <content>
          {{ content }}

            <div class="container d-inline-block bg-light" style="margin-left:0px;margin-top:50px">

                       Enjoy this post? <a href='https://ko-fi.com/Y8Y1E99KS' target='_blank'><img height='36' class="d-inline" style='border:0px;height:36px;' src='https://cdn.ko-fi.com/cdn/kofi1.png?v=3' border='0' alt='Buy me a Coffee at ko-fi.com' /></a>

            </div>

        </content>
        
        
    </div>
    <div class="col-sm-4">
        <script async data-uid="75968834d8" src="https://quintsmart.kit.com/75968834d8/index.js"></script>
        
        <h4 style="margin-bottom: 1em; margin-top: 2em">Notes mentioning this note</h4>
        
        {% if page.backlinks.size > 0 %}
        <div style="display: grid; grid-gap: 1em; grid-template-columns: repeat(1fr);">
            {% for backlink in page.backlinks %}
            <div class="backlink-box">
                <a class="internal-link" href="{{ site.baseurl }}{{ backlink.url }}{%- if site.use_html_extension -%}.html{%- endif -%}">{{ backlink.title }}</a><br>
                <div style="font-size: 0.9em">{{ backlink.excerpt | strip_html | truncatewords: 20 }}</div>
            </div>
            {% endfor %}
        </div>
        {% else %}

        <div style="font-size: 0.9em">
            <p>
              There are no notes linking to this note.
            </p>
        </div>
        {% endif %}
        
        <div id="chartArea" style='display: grid; grid-gap: 1em; grid-template-columns: repeat(1fr);width:100%;height: 400px;margin-top: 10px;'></div>

    </div>        
  </div>
</div>     
  
  
</article>

<hr>

<script>
    $( "body" ).on( "onGraphCreated", function() {
        const pageUrl = '{{ page.url }}'
        var currentNode = null;
        for (let node of baseNodes){
            if (node.path === pageUrl){
                currentNode = node;
                break;
            }
        }
        selectNode(currentNode);
    });


</script>

<script src="https://cdn.fastcomments.com/js/embed-v2.min.js"></script>
<div id="fastcomments-widget"></div>
<script>
FastCommentsUI(document.getElementById('fastcomments-widget'), {
    "tenantId": "v3szKi1NfpQh"
});
</script>

{% include renderGraph.html %}  


  {% include algolia.html %}
