---
layout: default
---
<script>
    
    
    const highlightStatus = new Map();
    highlightStatus.set(".none",false);
    highlightStatus.set(".nut",false);
    highlightStatus.set(".seedling",false);
    highlightStatus.set(".plotted_plant",false);
    highlightStatus.set(".tree",false);
    highlightStatus.set(".ancient_tree",false);
    highlightStatus.set(".fallen_leaf",false);
    
    
    function highlightByMaturity(classToHighlight){
        if (highlightStatus.get(classToHighlight)==false){
            jQuery(classToHighlight).css( "font-weight", "bold" );
            highlightStatus.set(classToHighlight,true)
            
        }else {
            jQuery(classToHighlight).css( "font-weight", "normal" );
            highlightStatus.set(classToHighlight,false)
            
        }
        
        var somethingIsHighlighted = false;
        for (const [key, value] of highlightStatus.entries()) {            
            if (value==true){
                somethingIsHighlighted = true;
            }
        }
        
        if (somethingIsHighlighted==true){
            for (const [key, value] of highlightStatus.entries()) {
              if (value==false){
                jQuery(key).addClass("linkDisabled");        
              }else{
                jQuery(key).removeClass("linkDisabled");                  
              }
            }     
        }else {
            for (const [key, value] of highlightStatus.entries()) {
                jQuery(key).removeClass("linkDisabled");                  
            }
        }
        
    }
</script> 

<style>
    iframe {
        width: 100%;
        height: 350px; /* Adjust the height as needed */
        border: none; /* Optional: removes the iframe border */
    }
    
    .cardspacer {
        margin-bottom:10px;
    }
    
    .fs-6 {
        font-size: 0.7rem !important;
    }
</style>

<content>
<div class="container">
  <div class="row">
    
    <div class="col-sm-8">
        
        {{ content }}
     
        
        <div class="container-fluid">
            {{ "#### 20 recent plants in my digital garden" | markdownify }}
        <div class="row row-cols-3 g-4">
        
        {% assign columnCounter = 0 %}
        {% assign lipages = site.notes | date_sort | reverse %}    
            
        {% for page in  lipages %}
        {% if columnCounter < 20 %}
        <div class="col-12 col-xl-4">    
         {% assign rating = "" %}  
         {% assign others = "true" %}  
         {% for tag in  page.tags %}
            {% if tag == "rating/⭐️⭐️" %}
                {% assign rating = "⭐️⭐️" %}
            {% elsif tag == "rating/⭐️" %}
                {% assign rating = "⭐️" %}    
            {% elsif tag == "rating/⭐️⭐️⭐️" %}
                {% assign rating = "⭐️⭐️⭐️" %}                
           {% endif %}  
         {% endfor %}



            <div class="card cardspacer h-100">
            {% if page.image %}
              <img src="{{ site.baseurl }}/assets/{{ page.image }}" class="card-img-top">
            {% elsif page.pdf %}
              <iframe src="{{ site.baseurl }}/assets/{{ page.pdf }}" class="card-img-top"></iframe>          
            {% else %}

            {% endif %}
              <div class="card-body">
                <h5 class="card-title"><a href="{{ page.url }}">{{ page.title | truncate:60 }} {{ rating }}</a></h5>
                  
                    {% assign ct = page.content | split: "Post at LinkedIn" %}
                    {% if ct.size>1 %}  
                    <p class="card-text">{{ ct[1] | strip_html | truncatewords: 30 }}</p>
                    {% else %}
                    <p class="card-text">{{ page.content | strip_html | truncatewords: 30 }}</p>    
                    {% endif %}  

              </div>
              {% if page.date_created %}
              <div class="card-footer">
                    <p class="fs-6">
                    <time datetime="{{ page.last_modified_at | date_to_xmlschema }}">
                      ✷ {{ page.date_created }} <br> ↺ {{ page.date_modified }}
                    </time>
                    </p>
              </div>
              {% endif %}
            </div>
        </div>        
      
     {% assign columnCounter = columnCounter | plus: 1 %}
    {% else %}
            {% break %}
    {% endif %}  
    {% endfor %}
        
        </div>    
        </div>
        
  </div>      
        
   <div class="col-sm-4">
        
        {{ "#### Maps of Content" | markdownify }}
        
        
        {% for page in  site.notes %}
  
         {% for tag in  page.tags %}
          {% if tag == 'MOC' %}
            <a href="{{ page.url }}">{{ page.title }}</a><br>
          {% endif %}

         {% endfor %}

        {% endfor %}
        
        {{ "---" | markdownify }}
        <div>
            <a href="javascript:highlightByMaturity('.none');" class="maturitySelecter">undefined</a> → 
            <a href="javascript:highlightByMaturity('.nut');" class="maturitySelecter">nut 🌰</a> → <a href="javascript:highlightByMaturity('.seedling');" class="maturitySelecter">seedling 🌱</a> → <a href="javascript:highlightByMaturity('.plotted_plant');" class="maturitySelecter">potted plant 🪴</a> → <a href="javascript:highlightByMaturity('.tree');" class="maturitySelecter">tree 🌳</a> → <a href="javascript:highlightByMaturity('.ancient_tree');" class="maturitySelecter">ancient tree 🍁</a> → <a href="javascript:highlightByMaturity('.fallen_leaf');" class="maturitySelecter">fallen leaf 🍂</a></div>
        {{ "#### Pages" | markdownify }}
        {% for page in site.notes %}
        {% assign epstatus = 'none' %}
        {% assign note_type = '' %}
        {% for tag in  page.tags %}
        {% if tag == 'epstatus/0-🌰' %}
            {% assign epstatus = 'nut' %}
        {% endif %}  
        {% if tag == 'epstatus/1-🌱' %}
            {% assign epstatus = 'seedling' %}
        {% endif %}  
        {% if tag == 'epstatus/2-🪴' %}
            {% assign epstatus = 'plotted_plant' %} 
        {% endif %}  
        {% if tag == 'epstatus/3-🌳' %}
            {% assign epstatus = 'tree' %}
        {% endif %}
        {% if tag == 'epstatus/4-🍁' %}
            {% assign epstatus = 'ancient_tree' %}
        {% endif %}  
        {% if tag == 'epstatus/5-🍂' %}
            {% assign epstatus = 'fallen_leaf' %}
        {% endif %} 
        {% if tag == 'type/fleeting-note' %}
            {% assign note_type = 'fleeting_note' %}
        {% endif %}  
        {% if tag == 'type/index-note' %}
            {% assign note_type = 'index_note' %}
        {% endif %}  
        {% if tag == 'type/literature-note' %}
            {% assign note_type = 'literature_note' %}
        {% endif %}  
        {% if tag == 'type/permanent-note' %}
            {% assign note_type = 'permanent_note' %}
        {% endif %}
        {% endfor %}
        
        <a href="{{ page.url }}" class="notelink {{ epstatus }} {{ note_type }}">{{ page.title }}
        {% if epstatus == 'nut' %}
            &nbsp;🌰    
        {% endif %}    
        {% if epstatus == 'seedling' %}
             &nbsp;🌱    
        {% endif %}    
        {% if epstatus == 'plotted_plant' %}
            &nbsp;🪴     
        {% endif %}                
        {% if epstatus == 'tree' %}
            &nbsp;🌳
        {% endif %}    
        {% if epstatus == 'ancient_tree' %}
            &nbsp;🍁    
        {% endif %}    
        {% if epstatus == 'fallen_leaf' %}
            &nbsp;🍂
        {% endif %}        
            
        </a>
        {% if note_type == 'fleeting_note' %}
            <span class="small-note-type-letter">(F)</span>
        {% endif %} 
        {% if note_type == 'index_note' %}
            <span class="small-note-type-letter">(I)</span>
        {% endif %} 
        {% if note_type == 'literature_note' %}
            <span class="small-note-type-letter">(L)</span>
        {% endif %} 
        {% if note_type == 'permanent_note' %}
            <span class="small-note-type-letter">(P)</span>
        {% endif %} 
        
        
        <br>
        {% endfor %}  
    </div>  
         

  
</div>
</div>   
</content>

 {% include algolia.html %}

