---
layout: default
---
<script>
    const highlightStatus = new Map();
    highlightStatus.set(".none",false);
    highlightStatus.set(".nut",false);
    highlightStatus.set(".seedling",false);
    highlightStatus.set(".plotted_plant",false);
    highlightStatus.set(".tree",false);
    highlightStatus.set(".ancient_tree",false);
    highlightStatus.set(".fallen_leaf",false);
    
    
    function highlightByMaturity(classToHighlight){
        if (highlightStatus.get(classToHighlight)==false){
            jQuery(classToHighlight).css( "font-weight", "bold" );
            highlightStatus.set(classToHighlight,true)
            
        }else {
            jQuery(classToHighlight).css( "font-weight", "normal" );
            highlightStatus.set(classToHighlight,false)
            
        }
        
        var somethingIsHighlighted = false;
        for (const [key, value] of highlightStatus.entries()) {            
            if (value==true){
                somethingIsHighlighted = true;
            }
        }
        
        if (somethingIsHighlighted==true){
            for (const [key, value] of highlightStatus.entries()) {
              if (value==false){
                jQuery(key).addClass("linkDisabled");        
              }else{
                jQuery(key).removeClass("linkDisabled");                  
              }
            }     
        }else {
            for (const [key, value] of highlightStatus.entries()) {
                jQuery(key).removeClass("linkDisabled");                  
            }
        }
        
    }
</script> 


<div class="container">
  <div class="row">
    <div class="col-sm-4">
        
        {{ "#### Maps of Content" | markdownify }}
        
        
        {% for page in  site.notes %}
  
         {% for tag in  page.tags %}
          {% if tag == 'MOC' %}
            <a href="{{ site.url }}{{ page.url }}">{{ page.title }}</a><br>
          {% endif %}

         {% endfor %}

        {% endfor %}
        
        {{ "---" | markdownify }}
        <div>
            <a href="javascript:highlightByMaturity('.none');" class="maturitySelecter">undefined</a> → 
            <a href="javascript:highlightByMaturity('.nut');" class="maturitySelecter">nut 🌰</a> → <a href="javascript:highlightByMaturity('.seedling');" class="maturitySelecter">seedling 🌱</a> → <a href="javascript:highlightByMaturity('.plotted_plant');" class="maturitySelecter">potted plant 🪴</a> → <a href="javascript:highlightByMaturity('.tree');" class="maturitySelecter">tree 🌳</a> → <a href="javascript:highlightByMaturity('.ancient_tree');" class="maturitySelecter">ancient tree 🍁</a> → <a href="javascript:highlightByMaturity('.fallen_leaf');" class="maturitySelecter">fallen leaf 🍂</a></div>
        {{ "#### Pages" | markdownify }}
        {% for page in site.notes %}
        {% assign epstatus = 'none' %}
        {% assign note_type = '' %}
        {% for tag in  page.tags %}
        {% if tag == 'epstatus/0-🌰' %}
            {% assign epstatus = 'nut' %}
        {% endif %}  
        {% if tag == 'epstatus/1-🌱' %}
            {% assign epstatus = 'seedling' %}
        {% endif %}  
        {% if tag == 'epstatus/2-🪴' %}
            {% assign epstatus = 'plotted_plant' %} 
        {% endif %}  
        {% if tag == 'epstatus/3-🌳' %}
            {% assign epstatus = 'tree' %}
        {% endif %}
        {% if tag == 'epstatus/4-🍁' %}
            {% assign epstatus = 'ancient_tree' %}
        {% endif %}  
        {% if tag == 'epstatus/5-🍂' %}
            {% assign epstatus = 'fallen_leaf' %}
        {% endif %} 
        {% if tag == 'type/fleeting-note' %}
            {% assign note_type = 'fleeting_note' %}
        {% endif %}  
        {% if tag == 'type/index-note' %}
            {% assign note_type = 'index_note' %}
        {% endif %}  
        {% if tag == 'type/literature-note' %}
            {% assign note_type = 'literature_note' %}
        {% endif %}  
        {% if tag == 'type/permanent-note' %}
            {% assign note_type = 'permanent_note' %}
        {% endif %}
        {% endfor %}
        
        <a href="{{ site.url }}{{ page.url }}" class="notelink {{ epstatus }} {{ note_type }}">{{ page.title }}
        {% if epstatus == 'nut' %}
            &nbsp;🌰    
        {% endif %}    
        {% if epstatus == 'seedling' %}
             &nbsp;🌱    
        {% endif %}    
        {% if epstatus == 'plotted_plant' %}
            &nbsp;🪴     
        {% endif %}                
        {% if epstatus == 'tree' %}
            &nbsp;🌳
        {% endif %}    
        {% if epstatus == 'ancient_tree' %}
            &nbsp;🍁    
        {% endif %}    
        {% if epstatus == 'fallen_leaf' %}
            &nbsp;🍂
        {% endif %}        
            
        </a>
        {% if note_type == 'fleeting_note' %}
            <span class="small-note-type-letter">(F)</span>
        {% endif %} 
        {% if note_type == 'index_note' %}
            <span class="small-note-type-letter">(I)</span>
        {% endif %} 
        {% if note_type == 'literature_note' %}
            <span class="small-note-type-letter">(L)</span>
        {% endif %} 
        {% if note_type == 'permanent_note' %}
            <span class="small-note-type-letter">(P)</span>
        {% endif %} 
        
        
        <br>
        {% endfor %}  
    </div>
    <div class="col-sm-8">
     <content>
        {{ content }}
     </content>
        
     <div id="chartArea" style='width:100%'></div>
        {% include renderGraph.html %}    
    </div>        
  </div>
</div> 

 {% include algolia.html %}

